/* body {
    background-image: url('/Images/BackgroundImagesCursos/Tica-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1;
} */