/* Estilos para el video introductorio */
.video-intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  background: #000;
}

.fullscreen-video {
  /* Estilo base para desktop */
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Centrado absoluto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Garantiza cobertura total */
  min-width: 100%;
  min-height: 100%;
}

/* Ajustes para móviles en vertical */
@media (orientation: portrait) {
  .fullscreen-video {
    width: auto;
    height: 100%;
  }
}

/* Ajustes para móviles en horizontal */
@media (orientation: landscape) {
  .fullscreen-video {
    width: 100%;
    height: auto;
  }
}

/* Ajuste especial para relaciones de aspecto extremas */
@media (max-aspect-ratio: 9/16) {

  /* Para pantallas muy altas y estrechas */
  .fullscreen-video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {

  /* Para pantallas muy anchas */
  .fullscreen-video {
    width: 100%;
    height: auto;
  }
}

.video-controls {
  position: absolute;
  bottom: 10px;
  right: 1px;
  z-index: 1001;
}

@media (orientation: portrait) {
  .video-controls {
    top: 55px;
    left: 12px;
  }
}

.skip-button {
  padding: 6px 8px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skip-button:hover {
  background-color: rgba(226, 205, 205, 0.2);
  color: grey;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 5px solid white;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}