body::-webkit-scrollbar {
  display: none;
}

/* ESTILOS PARA ALERTA DE NIVEL COMPLETADO */
.LevelCompleted {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

@media (max-width: 768px) {
  .LevelCompleted {
    width: 90%;
  }
}

.tica-background-root::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('/Images/BackgroundImagesCursos/Tica-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: -1;
}