.svg-icon {
    width: 45px;
    height: 45px;
}

/* @media (max-width: 576px) {
    .svg-icon {
        width: 35px;
        height: 35px;
    }
} */

@media (max-width: 768px) {
    .svg-icon {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 992px) {
    .svg-icon:hover {
        background: transparent;
        transition: transform 0.3s, box-shadow 0.3s;
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
    }
}